<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:replace="_fragments::head (page=home)">SampleApp1</title>
</head>
<body>
<div th:replace="_fragments::navigation (headerText='Welcome to Codekvast Sample1', page='home')"></div>

<form id="codekvastForm" action="/openCodekvastDashboard" method="post" target="_blank">
    <fieldset>
        <legend>This is a simple Spring Boot app that is instrumented with Codekvast Agent</legend>
        <p>I guess that you want to see what data Codekvast Agent is collecting?</p>
        <p>Normally, you do that by issuing <code class="terminal">heroku addons:open codekvast</code> from your Heroku
            app's development workspace (or from the Heroku dashboard).</p>
        <p>That will do a Single-Sign On (SSO) to <a href="https://app.codekvast.io" target="_blank">Codekvast
            Warehouse</a> with your Heroku credentials, allowing you to browse the data for the instrumented app.</p>
        <p>For demonstration purposes, this sample app is able to perform the same SSO as Heroku. This enables you to
            immediately kick the tyres of Codekvast without having a Heroku app.</p>
        <p>Also for demonstration purposes, this sample app is configured with a very short collection interval.</p>

        <label for="email">Your simulated Heroku user:&nbsp;</label><input id="email" name="email" type="email"
                                                                           title="Simulate that you are logged in to Heroku as this user"/>
        <input type="submit" value="Open Codekvast Warehouse"/>
    </fieldset>
</form>
</body>
</html>